@mixin text-hidden($line-clamp){
    text-overflow: ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:$line-clamp;
	-webkit-box-orient:vertical;
	overflow:hidden
}

@mixin img-prod-resp($padding-top){
	position: relative;
	height: auto !important; 
	width: 100%; 
	padding-top: $padding-top; 
	overflow: hidden;
	img { 
		object-fit: cover; 
		margin: auto; 
		position: absolute; 
		width: 100%; 
		height: 100%; 
		top: 0; 
		left: 0;

	}
	
}
@mixin img-prod-resp-zoom($padding-top){
	position: relative;
	height: auto !important; 
	width: 100%; 
	padding-top: $padding-top; 
	overflow: hidden;
	img { 
		object-fit: cover; 
		margin: auto; 
		position: absolute; 
		width: 100%; 
		height: 100%; 
		top: 0; 
		left: 0;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;

	}
	@media (min-width: 768px) {
		&:hover{
			img{
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
	
}

@mixin MQ($canvas) {
	@media (max-width: $canvas) { @content; }
}
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}
@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}
@mixin MQH($canvas) {
    @media (max-height: $canvas) { @content; }
}