$font-all:'Playfair Display', serif;
$font-text-all: 'Open Sans',sans-serif;
$color-text-all:#333;
$color-white:#fff;
$color-active:#118436;
$color-icon:#6fad58;
$bgr-color-hd:#252c30;
$color-nm:#562b73;
$color-nm2:#fec70a;
$bgr-sec:#f5f8f2;


$black: #000;
$white: #FFF;
$red: #fec70a;
$read: #4e4e4e;
$red-dark: #fec70a;
