
body { 

	background: #fff; 
	color: $color-text-all; 
	font-family: $font-text-all;
	margin:0;
	padding: 0;
	font-size: 14px;
	line-height: 1.7;
	width: 100%;
    float: left;

	.Wrapper {
	    max-width: 1900px;
	    margin: 0 auto;
	    width: 100%;

	}
	h1, h2, h3, h4, h5, h6{
    	line-height: 1.4;
    	font-family: $font-all;
    	font-weight: bold;
	} 
	h1, h2, h3, h4, h5, h6,p{
    	margin-bottom: 0;
	}
	h1{
		font-size: 72px;
	}
	h2{
		font-size: 36px;
	}
	h3{
		font-size: 22px;
	}
	h4{
		font-size: 18px;
	}
	@media (max-width: 767px) {
		h1{
			font-size: 66px;
		}
		h2{
			font-size: 28px;
		}
		h3{
			font-size: 20px;
		}
		h4{
			font-size: 18px;
		}
	}
	ul,li{
		list-style: none;
		padding: 0;
		margin-bottom: 0;
	}
	img{
		max-width: 100%;
	}
	button,input,select,textarea{
		&:focus{
			outline: 0;
		}
	}
	a{	
		color: unset;
		text-decoration: none;
		outline: none;
		&:hover,&:active,&:focus{
			text-decoration: none;
			color: unset;

		}
	}
		// @media (min-width: 1200px){
		// 	.container {
		//     	max-width: 960px;
		// 	}
		// }
	.hidden{
		display: none;
	}
	.hidden-pc{
		display: none;
		@media (max-width: 767px) {
			display: block;
		}
	}
	.owl-next,.owl-prev{
		position: absolute;
		top: 50%;
		transform: translateY(-100%);
		width: 35px;
		height: 35px;
		border-radius: 50%;
		border: 1px solid gray!important;
		
		opacity:.3; 
	}
	.owl-prev{
		left: -30px;
		@media (max-width: 767px) {
			left: -5px;
		}
	}
	.owl-next{
		right: -30px;
		@media (max-width: 767px) {
			right: -5px;
		}
	}
	.back-to-top {
		position: fixed;
		bottom: -50px;
		right: -50px;
		transition: all .5s ease-out;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		width: 40px;height: 40px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px !important;
		-moz-background-clip: padding;
		background-color: $color-active;
		line-height: 45px;
		text-align: center;
		color: #fff;
		display: inline;
		z-index: 999999;
		cursor: pointer;
		a{
			display: block;
			color:#fff

		}
		&:hover{
			background: $color-nm2;
			color: #fff;
		}
		&:hover,&:focus{
			a{
				color: #fff;
			}
		}
		&.display{
			bottom:50px;
			right: 10px;
		}
		&.fa{
			margin-bottom: 0;
		}
	}
	@media (max-width: 767px) {
			.order-2-mb{
				order: 2;
			}
			.order-1-mb{
				order: 1;
			}
		}
	section{
		position: relative;
		width: 100%;
		float: left;
		&:not(.product-o){
			padding: 100px 0;
			@media (max-width: 767px) {
				padding: 60px 0;
			}
		}
	}
	.box-btn{
		width: 100%;
		float: left;
		button,a{
			min-width: 200px;
			height: 50px;
			text-align: center;
			line-height:50px;
			border: 1px solid $color-active;
			color:$color-nm2;
			background-color: $color-active;
			border-radius: 25px;
			font-weight: bold;
			text-transform: uppercase;
			&:hover{
				transition: .5s;
				background:$color-nm;
				border:1px solid $color-nm;
			}
		}
		a{
			display: inline-block;
		}
	}
	.product-o{
		position: relative;
		background: url("../images/bgr/bgrtop.jpg");
		height: 100vh;
		>.container{
			>.row{
				height: 100vh;
			}
		}
		.box-content-top{
			padding-top: 30%;
			.box-name{
				margin-bottom: 30px;
				h2{
					font-size: 85px;
					color:$color-nm;
					display: inline-block;
					font-weight: bold;
					span{
						color:$color-nm2;
					}
					small{
						background: $color-nm;
						color: $color-nm2;
						float: right;
						font-size: 38%;
						padding: 5px 10px;
					}
					@media (max-width: 992px) {
						font-size: 55px;
					}

					@media (min-width: 992px) and (max-width: 1200px) {
						font-size: 75px;
					}

				}
			}
			.list-outstandin{
				margin-bottom: 30px;
				li{
					margin-bottom: 10px;
					padding: 10px 0;
					position: relative;
					padding-left: 30px;
					font-weight: bold;
					font-style:italic;
					
					font-size: 16px;
					&:before{
						position: absolute;
						top: 10px;
						left: 0;
						font-family:fontAwesome;
						content:"\f05d";
						color: $color-nm;
						font-weight: 400;
						font-style:normal;
					}
					
				}
			}

		}
		.box-bgr-img{
			background: url("../images/bgr/bgr-g.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: bottom;
			height: 100%;
		}
		@media (max-width: 767px) {
			height: auto;
			padding: 50px 0;
			>.container{
				>.row{
					height: auto;
				}
			}
			.box-bgr-img{
				// margin-top: 20%;
				height: 40vh;
			}
			.box-content-top{
				padding:30px 0;
			}
			
		}

	}

	.heading{
		margin-bottom: 50px;
		text-align: center;
		h2{
			margin-bottom: 30px;
			padding-bottom: 15px;
			width: 100%;
    		// float: left;
			position: relative;
			
			&:before{
				position: absolute;
				width: 20%;
				height: 3px;
				background: $color-nm;
				top: 100%;
				content: "";
				left: 50%;
				transform: translateX(-50%);


			}
		}
		p{
			padding:0 20%;
		}
		@media (max-width: 767px) {
			p{
				padding: 0;
			}
			h2{
				&:before{
					width: 30%;
				}
			}
		}
	}
	section.highlights{
		.item-highlights{
			margin-bottom: 30px;
			h2{
				font-weight: bold;
				font-size: 30px;
				margin-bottom: 15px;
			}
		}
		.box-img{
			@include img-prod-resp(75%);
			box-shadow:2px 1px 3px 0 #c3c3c3;
		}
	}
	section.product-uses{
		background:url("../images/bgr/bgr-ong.png");
		background-size: cover;
		background-repeat: no-repeat;

		.list-product-uses{
			li{
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 2px dotted $color-nm;
				h5{
					font-weight: bold;
					margin-bottom: 15px;
				}
			}
		}
		@media (max-width: 991px) {
			.order-1-mb{
				order: 1;
			}
			.order-2-mb{
				order: 2;
			}
		}
		

	}
	section.order-id{
		background-image: url("../images/bgr/");
		background-repeat: no-repeat;
		background-size: cover;
		
		.box-border-order{
			
			padding:30px;
			border:2px dotted $color-nm;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-radius: 25px;
			.box-content-order{
				width: calc(50% - 15px );
				.note{
					color: $color-nm2;
				}
				h2{
					font-weight:bold;
					margin-bottom: 15px;
					color: $color-active;
				}
				.desc{
					margin-bottom: 30px;
				}
			}
			.box-img{
				width: calc(50% - 15px );
				box-shadow: 1px 1px 3px 0 #f3f3f3;

			}
		}
		@media (max-width: 767px) {
			.box-border-order{
				display: block;
				width: 100%;
				float: left;
				.box-content-order{
					width: 100%;
				}
				.box-img{
					width: 100%;
					margin-bottom: 15px;
				}
			}
		}
	}
	section.step{
		background:url("../images/bgr/bgr-.png");
		// background-repeat: no-repeat;
		// background-size: cover;
		// background-color: $color-nm2;
		
		.item-step{
			text-align: center;
			margin-bottom: 15px;
			.img-step{

				margin: 0 20%;
				border-radius: 50%;
				overflow: hidden;
				border: 2px solid $color-nm;
				margin-bottom: 30px;
				padding: 10px;
				.box-img{
					@include img-prod-resp-zoom(100%);
				    border-radius: 50%;
				}
			}
			h3{
				margin-bottom: 30px;
			
			}
		}
		@media (max-width: 767px) {
			.item-step{
				margin-bottom: 30px;
				.img-step{
					margin-bottom: 15px;
				}
			}
		}
	}
	section.problem{
		background-color: gray;
		position: relative;
		color: #fff;
		.box-img{
			margin-bottom:30px; 
		}
		.box-problem{
			li{
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 1px dotted #fff;
			}
		}
		.heading{
			text-align: left;
			h2{
				&:before{
					left: 0;
					transform: translateX(0);
				}
			}
			p{
				padding:0;
			}
		}
		&:after{
			content: "";
			width: calc(50% - 15px);
			background-image:url("../images/bgr/bgr-skhoe.jpg");
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;

		}
		@media (max-width: 767px) {
			&:after{
				content: none;
			}
		}

	}
	section.opinon{
		.box-opinon{
			margin-bottom: 30px;
		}
		.heading{
			text-align: left;
			h2{
				&:before{
					left: 0;
					transform: translateX(0);
				}
			}
			p{
				padding:0;
			}
		}
		.box-content-opinon{
			h3{
				margin-bottom: 15px;
			}
		}
		.box-img{
			margin-bottom: 15px;
		}

	}
	section.list-img{
		.box-img{
			margin-bottom: 30px;
			@include img-prod-resp-zoom(75%);
		}
	}
	section.attribute-prod{
		background:url("../images/bgr/bgrz.png");
		.item-attribute-prod{
			text-align: center;
			margin-bottom: 50px;
			.icon{
				height: 60px;
				width: 60px;
				margin:0 auto;
				margin-bottom: 30px;
			}
			p{
				min-height: 47px;
				@include text-hidden(2);
			}
		}
	}
	section.feedback{
		.owl-item {
    		padding: 5px;
		}
		.list-feedback{
			padding: 10px;
			.item{
				padding: 10px;
				// border: 1px solid $color-nm;
				box-shadow:2px 1px 3px 0 #c3c3c3;
   				background: #f5f5f5;

				@media (max-width: 767px) {
					box-shadow:0px 0px 3px 0 #c3c3c3;

				}
				.box-fb-top{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					margin-bottom: 10px;
					.box-img{
						@include img-prod-resp(100px);
						width: 100px;
						img{
							width: 90px;
						height: 90px;
						border-radius: 50%;	
						}
					}
					>p{
						width: calc(100% - 100px)
					}
				}
				.info{
					h4{
						margin-bottom: 5px;
					}
					p{
						color:gray;
					}
				}
			}
			&:hover{
				.owl-next,.owl-prev{
					opacity:.8;
				}
			}
		}
	}
	
}
