#footer{
	background:url("../images/bgr/bgr1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	float: left;
	padding: 100px 0;
	color: #fff;
	position: relative;
	&:before{
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background:rgba(1,7,28,0.77);
		position: absolute;
	}
	.container{
		position: relative;
	}
	.box-address{
		ul{
			li{
				margin-bottom: 30px;
				h3{
					margin-bottom: 10px;
					i{
						color: $color-active;
						font-size: 25px;
						width: 30px;
					}
					span{
						font-size: 24px;
					}
				}
				p{

				}
			}
			.link-mxh{
				margin-top:15px;
				span{
					height: 50px;
					width: 50px;
					border-radius: 50%;
					line-height: 50px;
					display: inline-block;
					border: 2px solid $color-nm;
					text-align: center;
					margin-right: 15px;
					background:#fff;
					cursor: pointer;
					margin-bottom: 15px;
					i{
						font-size: 20px;
					}
					.fa-facebook{
						color: #4267b2;
					}
					.fa-twitter{
						color: #1da1f2;
					}
					.fa-instagram{
						color: #e95950;
					}
					.fa-google{
						color: #EA4335;
					}
				}
				@media (min-width: 768px) and (max-width: 991px) {
					span{
						height: 45px;
						width: 45px;
						margin-right: 3px;
					}
				}
			}
		}
	}
	.box-from{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		input,textarea{
			width: 100%;
			margin-bottom: 15px;
			border-radius:5px;
			border: none;
			padding: 10px;
		}
		.name-inp,.mail-inp{
			width: calc(50% - 15px);
			@media (max-width: 767px) {
				width: 100%;
			}
		}
		input{
			height: 40px;
		}
		
	}
	.box-btn{
		button{
			width: 100%;
			border-radius: 5px;
		}
		
	}
	@media (max-width: 767px) {
		padding: 60px 0;
		.order-1-mb{
			margin-bottom: 30px;
		}
		.box-address{
			ul{
				li{
					margin-bottom: 15px;
					h3{
						margin-bottom: 0px;
						i{
							color: $color-active;
							font-size: 20px;
							width: 30px;
						}
						span{
							font-size: 20px;
						}
					}
				}
				.link-mxh{
					margin-top:15px;
					margin-bottom: 0;
					span{
						height: 45px;
						width: 45px;
						border-radius: 50%;
						line-height: 45px;

					}
				}
			}
		}
	}

}