@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap");
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  left: 0; }
  body .over-menu {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: fixed;
    height: 100%;
    content: '';
    width: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9; }
  body.open-menu {
    left: -275px; }
    body.open-menu .over-menu {
      visibility: visible;
      opacity: 1; }
    body.open-menu .menu-container {
      right: 0 !important; }

header {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
  width: 100%;
  float: left;
  position: fixed;
  z-index: 10; }
  @media (min-width: 1600px) {
    header {
      left: 0; } }
  header::before {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform-origin: 0;
    background: #ffffffe0;
    position: absolute;
    width: 100%;
    content: '';
    top: 0;
    right: 0;
    height: 0; }
  header .desk-menu {
    position: relative;
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    header .desk-menu .logo-adn {
      padding: 10px 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      position: relative;
      display: table;
      z-index: 1; }
      header .desk-menu .logo-adn a {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-image: url("../images/logo/logo1.png");
        background-position: 0;
        color: rgba(0, 0, 0, 0);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 150px;
        height: 80px;
        font-size: 0; }
    header .desk-menu .box-menu {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      display: block;
      float: right;
      text-align: center; }
    header .desk-menu .menu-container {
      float: left; }
      header .desk-menu .menu-container .menu-head,
      header .desk-menu .menu-container .menu-foot {
        width: 100%;
        float: left;
        display: none; }
      header .desk-menu .menu-container .menu-head {
        background: #fff;
        padding: 5px 20px; }
        header .desk-menu .menu-container .menu-head .e1 {
          padding: 3px 0;
          float: left; }
          header .desk-menu .menu-container .menu-head .e1 img {
            float: left;
            height: 45px; }
        header .desk-menu .menu-container .menu-head .client {
          color: #FFF;
          float: right; }
          header .desk-menu .menu-container .menu-head .client span {
            text-transform: uppercase;
            padding: 5px 42px 5px  0;
            position: relative;
            line-height: 100%;
            font-size: 9px;
            display: block; }
          header .desk-menu .menu-container .menu-head .client i {
            position: absolute;
            font-size: 30px;
            right: 0;
            top: 0; }
      header .desk-menu .menu-container .menu-foot {
        position: absolute;
        bottom: 0;
        padding: 15px 0; }
        header .desk-menu .menu-container .menu-foot .social {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center; }
          header .desk-menu .menu-container .menu-foot .social a {
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            position: relative;
            margin: 0 5px 0 0;
            color: #FFF;
            font-size: 16px;
            text-align: center;
            padding: 5px 0;
            border-radius: 50%;
            background: #797c82;
            width: 35px;
            height: 35px; }
            header .desk-menu .menu-container .menu-foot .social a:last-child {
              margin: 0; }
            header .desk-menu .menu-container .menu-foot .social a:hover {
              background: #a4a7ac; }
        header .desk-menu .menu-container .menu-foot hr {
          margin: 15px auto 20px;
          display: table;
          width: calc(100% - 20px); }
        header .desk-menu .menu-container .menu-foot address {
          position: relative;
          text-align: left;
          padding: 0 15px;
          margin: 0; }
          header .desk-menu .menu-container .menu-foot address i {
            position: absolute;
            left: 0;
            top: 0;
            color: #118436; }
          header .desk-menu .menu-container .menu-foot address span {
            padding: 0 0 0 20px;
            position: relative;
            margin-bottom: 5px;
            font-size: 12px;
            display: block;
            font-weight: bold; }
      header .desk-menu .menu-container .menu {
        float: left;
        padding: 0;
        margin: 0 20px 0 0;
        list-style: none;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        header .desk-menu .menu-container .menu li.back {
          display: none; }
        header .desk-menu .menu-container .menu li .active {
          color: #fec70a; }
        header .desk-menu .menu-container .menu .active a {
          color: #fec70a; }
        header .desk-menu .menu-container .menu > li {
          -webkit-transition: all 0.33s ease;
          -moz-transition: all 0.33s ease;
          -ms-transition: all 0.33s ease;
          -o-transition: all 0.33s ease;
          transition: all 0.33s ease;
          margin: 0 0 0 10px;
          float: left;
          cursor: pointer;
          position: relative;
          overflow: inherit; }
          header .desk-menu .menu-container .menu > li a {
            position: relative;
            text-transform: uppercase;
            font-size: 14px;
            padding: 19px 10px;
            display: block;
            font-weight: bold;
            font-family: "Playfair Display", serif; }
            @media (min-width: 992px) and (max-width: 1200px) {
              header .desk-menu .menu-container .menu > li a {
                padding: 19px 5px; } }
          header .desk-menu .menu-container .menu > li.menu-item-has-children > a {
            padding: 19px 20px 19px 8px;
            position: relative; }
            header .desk-menu .menu-container .menu > li.menu-item-has-children > a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              background-color: #4e4e4e;
              position: absolute;
              content: '';
              height: 1px;
              width: 7px;
              top: 29px; }
            header .desk-menu .menu-container .menu > li.menu-item-has-children > a::before {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
              right: 10px; }
            header .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
              right: 6px; }
          header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
            box-shadow: 1px 2px 4px rgba(46, 61, 73, 0.2);
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
            -webkit-overflow-scrolling: touch;
            min-width: 200px;
            position: absolute;
            list-style: none;
            background: #FFF;
            padding: 0;
            float: left;
            display: table;
            left: 0;
            width: 100%;
            float: left;
            display: none; }
            header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li {
              width: 100%;
              -webkit-transition: all 0.33s ease;
              -moz-transition: all 0.33s ease;
              -ms-transition: all 0.33s ease;
              -o-transition: all 0.33s ease;
              transition: all 0.33s ease; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
                color: #4e4e4e;
                padding: 12px; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li .sub-menu {
                display: none; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: #4e4e4e;
                position: absolute;
                content: '';
                height: 1px;
                width: 7px;
                top: 24px; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
                transform: rotate(45deg);
                right: 6px;
                top: 19px; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
                transform: rotate(-45deg);
                right: 6px;
                top: 23px; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover > a {
                display: block; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu {
                display: block; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a {
                color: #fec70a;
                background-color: #eeeff1; }
                header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a::before {
                  -webkit-transform: rotate(142deg);
                  -moz-transform: rotate(142deg);
                  -ms-transform: rotate(142deg);
                  -o-transform: rotate(142deg);
                  transform: rotate(142deg);
                  top: 23px; }
                header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a::after {
                  -webkit-transform: rotate(42deg);
                  -moz-transform: rotate(42deg);
                  -ms-transform: rotate(42deg);
                  -o-transform: rotate(42deg);
                  transform: rotate(42deg);
                  right: 11px; }
            header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
              left: 100%;
              margin-top: -43px; }
          header .desk-menu .menu-container .menu > li.menu-item-has-children a {
            text-align: left; }
            header .desk-menu .menu-container .menu > li.menu-item-has-children a:hover {
              margin-top: 0; }
          header .desk-menu .menu-container .menu > li.line {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            position: absolute;
            bottom: 11px;
            left: 0;
            height: 0px;
            pointer-events: none;
            border: 1px solid #fec70a;
            background: #fec70a;
            -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
            -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
            transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
            opacity: 0;
            display: block; }
          header .desk-menu .menu-container .menu > li:hover > a {
            color: #fec70a; }
            header .desk-menu .menu-container .menu > li:hover > a::before {
              -webkit-transform: translateX(5px) rotate(-45deg);
              -moz-transform: translateX(5px) rotate(-45deg);
              -ms-transform: translateX(5px) rotate(-45deg);
              -o-transform: translateX(5px) rotate(-45deg);
              transform: translateX(5px) rotate(-45deg);
              width: 10px;
              right: 12px; }
            header .desk-menu .menu-container .menu > li:hover > a::after {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
              width: 10px;
              right: 7px; }
          header .desk-menu .menu-container .menu > li:hover.menu-item-has-children .sub-menu {
            display: block; }
  header .hamburger-menu {
    display: none; }
  header.small::before {
    box-shadow: 0px 5px 25px 0 rgba(46, 61, 73, 0.2);
    height: 100%; }
  header.small .desk-menu .menu-container .menu > li.menu-item-has-children > a::before, header.small .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
    background-color: #4e4e4e; }
  header.small .desk-menu .logo-adn {
    padding: 10px 0; }
    header.small .desk-menu .logo-adn a {
      background-image: url("../images/logo/logo1.png");
      height: 50px;
      width: 150px; }
  header.small .desk-menu .box-menu {
    padding: 0; }
    header.small .desk-menu .box-menu ul li a {
      color: #4e4e4e; }
  @media (max-width: 991px) {
    header .hamburger-menu {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      display: block;
      width: 40px;
      height: 40px;
      cursor: pointer;
      z-index: 11; }
      header .hamburger-menu span {
        text-transform: uppercase;
        left: calc(-100% + -5px);
        padding: 8px 9px 8px 0;
        top: calc(50% - 18px);
        position: absolute;
        font-size: 13px;
        color: #FFF; }
      header .hamburger-menu .bar,
      header .hamburger-menu .bar::after,
      header .hamburger-menu .bar::before {
        width: 35px;
        height: 3px; }
      header .hamburger-menu .bar {
        position: relative;
        -webkit-transform: translateY(25px);
        -moz-transform: translateY(25px);
        -ms-transform: translateY(25px);
        -o-transform: translateY(25px);
        transform: translateY(25px);
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
        background: #4e4e4e;
        top: -7px;
        border-radius: 5px; }
        header .hamburger-menu .bar::before, header .hamburger-menu .bar::after {
          position: absolute;
          background: #4e4e4e;
          content: '';
          left: 0;
          border-radius: 5px; }
        header .hamburger-menu .bar::before {
          bottom: 10px;
          -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
          -moz-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
          -ms-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
          -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
        header .hamburger-menu .bar::after {
          top: 10px;
          -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
          -moz-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
          -ms-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
          -o-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
        header .hamburger-menu .bar.animate {
          background: rgba(255, 255, 255, 0); }
          header .hamburger-menu .bar.animate::after {
            background: #fff;
            top: 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            -moz-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            -ms-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            -o-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
          header .hamburger-menu .bar.animate::before {
            background: #fff;
            bottom: 0;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            -moz-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            -ms-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            -o-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    header .desk-menu .box-menu ul li a {
      color: #FFF !important;
      border-bottom: 1px solid #eaeaea; }
    header .desk-menu .menu-container {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background: #FFF;
      position: fixed;
      height: 100%;
      width: 275px;
      right: -275px;
      top: 0; }
      header .desk-menu .menu-container .menu-header-container {
        position: relative;
        float: left; }
        header .desk-menu .menu-container .menu-header-container ul {
          padding: 10px !important; }
      header .desk-menu .menu-container .menu {
        margin: 0; }
        header .desk-menu .menu-container .menu li.back {
          position: relative;
          display: block; }
          header .desk-menu .menu-container .menu li.back a {
            padding: 12px 12px 12px 35px !important; }
            header .desk-menu .menu-container .menu li.back a::before, header .desk-menu .menu-container .menu li.back a::after {
              background-color: #4e4e4e;
              position: absolute;
              content: '';
              height: 2px;
              width: 7px;
              top: 23px; }
            header .desk-menu .menu-container .menu li.back a::before {
              -webkit-transform: rotate(-45deg) !important;
              -moz-transform: rotate(-45deg) !important;
              -ms-transform: rotate(-45deg) !important;
              -o-transform: rotate(-45deg) !important;
              transform: rotate(-45deg) !important;
              top: 20px !important;
              right: inherit !important;
              left: 15px !important; }
            header .desk-menu .menu-container .menu li.back a::after {
              -webkit-transform: rotate(45deg) !important;
              -moz-transform: rotate(45deg) !important;
              -ms-transform: rotate(45deg) !important;
              -o-transform: rotate(45deg) !important;
              transform: rotate(45deg) !important;
              top: 24px !important;
              left: 15px !important; }
        header .desk-menu .menu-container .menu li.line {
          display: none !important; }
        header .desk-menu .menu-container .menu > li {
          width: 100%;
          float: left;
          margin: 0;
          text-align: left; }
          header .desk-menu .menu-container .menu > li a {
            padding: 12px;
            color: #4e4e4e !important; }
          header .desk-menu .menu-container .menu > li.menu-item-has-children {
            position: initial; }
            header .desk-menu .menu-container .menu > li.menu-item-has-children a {
              padding: 12px; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
                background: #4e4e4e; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children a::before {
                right: 6px !important;
                top: 16px !important;
                width: 7px !important; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
                top: 21px !important;
                width: 7px !important; }
            header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
              box-shadow: none;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              display: block !important;
              background: #FFF;
              z-index: 1;
              top: 0;
              left: 100%;
              height: 100%; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
                margin-top: 0; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu.open-sub {
                left: 0%; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
                background-color: #4e4e4e; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
                -webkit-transform: rotate(45deg) !important;
                -moz-transform: rotate(45deg) !important;
                -ms-transform: rotate(45deg) !important;
                -o-transform: rotate(45deg) !important;
                transform: rotate(45deg) !important;
                right: 6px !important;
                top: 22px !important;
                width: 7px !important; }
              header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
                -webkit-transform: rotate(-45deg) !important;
                -moz-transform: rotate(-45deg) !important;
                -ms-transform: rotate(-45deg) !important;
                -o-transform: rotate(-45deg) !important;
                transform: rotate(-45deg) !important;
                right: 6px !important;
                top: 26px !important;
                width: 7px !important; }
          header .desk-menu .menu-container .menu > li:hover a:before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            right: 6px;
            top: 22px; }
          header .desk-menu .menu-container .menu > li:hover a::after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            right: 6px;
            top: 26px; }
      header .desk-menu .menu-container .menu-head {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; }
      header .desk-menu .menu-container .menu-foot {
        display: block; }
    header.small .hamburger-menu {
      top: 31px; }
      header.small .hamburger-menu span {
        color: #4e4e4e; }
      header.small .hamburger-menu .bar {
        background: #4e4e4e; }
        header.small .hamburger-menu .bar::before, header.small .hamburger-menu .bar::after {
          background: #4e4e4e; }
        header.small .hamburger-menu .bar.animate {
          background: rgba(255, 255, 255, 0); } }
  @media (max-width: 767px) {
    header .desk-menu .menu-container .menu li a {
      padding: 8px 12px; }
    header .desk-menu .menu-container .menu li.back a {
      padding: 8px 12px 8px 35px !important; }
      header .desk-menu .menu-container .menu li.back a::before {
        top: 17px !important; }
      header .desk-menu .menu-container .menu li.back a::after {
        top: 21px !important; }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a {
      padding: 8px 12px; }
      header .desk-menu .menu-container .menu > li.menu-item-has-children a::before {
        top: 18px; }
      header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
        top: 22px; }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
      padding: 8px 12px; }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
      top: 18px; }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
      top: 22px; } }
  @media (max-width: 481px) {
    header .desk-menu .logo-adn a {
      width: 100px;
      height: 35px; }
    header .hamburger-menu .bar,
    header .hamburger-menu .bar::after,
    header .hamburger-menu .bar::before {
      width: 30px;
      height: 4px;
      border-radius: 5px; }
    header .hamburger-menu .bar::before {
      bottom: 9px; }
    header .hamburger-menu .bar::after {
      top: 9px; }
    header.small .desk-menu .logo-adn a {
      width: 100px;
      height: 40px; } }
  @media (max-height: 550px) {
    header .desk-menu .menu-container .menu-foot hr,
    header .desk-menu .menu-container .menu-foot address {
      display: none; } }

.resize-message {
  margin: 40vh auto 0;
  display: table; }

.resize-message span {
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #666; }

.resize-message span i {
  font-size: 30px; }

.author {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 30px 15px 15px;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 54%, black 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(54%, rgba(0, 0, 0, 0.54)), color-stop(100%, black));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 54%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 54%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 54%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 54%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 ); }
  .author a {
    font-size: 16px;
    display: table;
    margin: 0 auto;
    text-decoration: none;
    color: #FFF;
    font-weight: 700; }
    .author a span {
      color: #fec70a; }

body {
  background: #fff;
  color: #333;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.7;
  width: 100%;
  float: left; }
  body .Wrapper {
    max-width: 1900px;
    margin: 0 auto;
    width: 100%; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    line-height: 1.4;
    font-family: "Playfair Display", serif;
    font-weight: bold; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p {
    margin-bottom: 0; }
  body h1 {
    font-size: 72px; }
  body h2 {
    font-size: 36px; }
  body h3 {
    font-size: 22px; }
  body h4 {
    font-size: 18px; }
  @media (max-width: 767px) {
    body h1 {
      font-size: 66px; }
    body h2 {
      font-size: 28px; }
    body h3 {
      font-size: 20px; }
    body h4 {
      font-size: 18px; } }
  body ul, body li {
    list-style: none;
    padding: 0;
    margin-bottom: 0; }
  body img {
    max-width: 100%; }
  body button:focus, body input:focus, body select:focus, body textarea:focus {
    outline: 0; }
  body a {
    color: unset;
    text-decoration: none;
    outline: none; }
    body a:hover, body a:active, body a:focus {
      text-decoration: none;
      color: unset; }
  body .hidden {
    display: none; }
  body .hidden-pc {
    display: none; }
    @media (max-width: 767px) {
      body .hidden-pc {
        display: block; } }
  body .owl-next, body .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid gray !important;
    opacity: .3; }
  body .owl-prev {
    left: -30px; }
    @media (max-width: 767px) {
      body .owl-prev {
        left: -5px; } }
  body .owl-next {
    right: -30px; }
    @media (max-width: 767px) {
      body .owl-next {
        right: -5px; } }
  body .back-to-top {
    position: fixed;
    bottom: -50px;
    right: -50px;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    width: 40px;
    height: 40px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px !important;
    -moz-background-clip: padding;
    background-color: #118436;
    line-height: 45px;
    text-align: center;
    color: #fff;
    display: inline;
    z-index: 999999;
    cursor: pointer; }
    body .back-to-top a {
      display: block;
      color: #fff; }
    body .back-to-top:hover {
      background: #fec70a;
      color: #fff; }
    body .back-to-top:hover a, body .back-to-top:focus a {
      color: #fff; }
    body .back-to-top.display {
      bottom: 50px;
      right: 10px; }
    body .back-to-top.fa {
      margin-bottom: 0; }
  @media (max-width: 767px) {
    body .order-2-mb {
      order: 2; }
    body .order-1-mb {
      order: 1; } }
  body section {
    position: relative;
    width: 100%;
    float: left; }
    body section:not(.product-o) {
      padding: 100px 0; }
      @media (max-width: 767px) {
        body section:not(.product-o) {
          padding: 60px 0; } }
  body .box-btn {
    width: 100%;
    float: left; }
    body .box-btn button, body .box-btn a {
      min-width: 200px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border: 1px solid #118436;
      color: #fec70a;
      background-color: #118436;
      border-radius: 25px;
      font-weight: bold;
      text-transform: uppercase; }
      body .box-btn button:hover, body .box-btn a:hover {
        transition: .5s;
        background: #562b73;
        border: 1px solid #562b73; }
    body .box-btn a {
      display: inline-block; }
  body .product-o {
    position: relative;
    background: url("../images/bgr/bgrtop.jpg");
    height: 100vh; }
    body .product-o > .container > .row {
      height: 100vh; }
    body .product-o .box-content-top {
      padding-top: 30%; }
      body .product-o .box-content-top .box-name {
        margin-bottom: 30px; }
        body .product-o .box-content-top .box-name h2 {
          font-size: 85px;
          color: #562b73;
          display: inline-block;
          font-weight: bold; }
          body .product-o .box-content-top .box-name h2 span {
            color: #fec70a; }
          body .product-o .box-content-top .box-name h2 small {
            background: #562b73;
            color: #fec70a;
            float: right;
            font-size: 38%;
            padding: 5px 10px; }
          @media (max-width: 992px) {
            body .product-o .box-content-top .box-name h2 {
              font-size: 55px; } }
          @media (min-width: 992px) and (max-width: 1200px) {
            body .product-o .box-content-top .box-name h2 {
              font-size: 75px; } }
      body .product-o .box-content-top .list-outstandin {
        margin-bottom: 30px; }
        body .product-o .box-content-top .list-outstandin li {
          margin-bottom: 10px;
          padding: 10px 0;
          position: relative;
          padding-left: 30px;
          font-weight: bold;
          font-style: italic;
          font-size: 16px; }
          body .product-o .box-content-top .list-outstandin li:before {
            position: absolute;
            top: 10px;
            left: 0;
            font-family: fontAwesome;
            content: "\f05d";
            color: #562b73;
            font-weight: 400;
            font-style: normal; }
    body .product-o .box-bgr-img {
      background: url("../images/bgr/bgr-g.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      height: 100%; }
    @media (max-width: 767px) {
      body .product-o {
        height: auto;
        padding: 50px 0; }
        body .product-o > .container > .row {
          height: auto; }
        body .product-o .box-bgr-img {
          height: 40vh; }
        body .product-o .box-content-top {
          padding: 30px 0; } }
  body .heading {
    margin-bottom: 50px;
    text-align: center; }
    body .heading h2 {
      margin-bottom: 30px;
      padding-bottom: 15px;
      width: 100%;
      position: relative; }
      body .heading h2:before {
        position: absolute;
        width: 20%;
        height: 3px;
        background: #562b73;
        top: 100%;
        content: "";
        left: 50%;
        transform: translateX(-50%); }
    body .heading p {
      padding: 0 20%; }
    @media (max-width: 767px) {
      body .heading p {
        padding: 0; }
      body .heading h2:before {
        width: 30%; } }
  body section.highlights .item-highlights {
    margin-bottom: 30px; }
    body section.highlights .item-highlights h2 {
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 15px; }
  body section.highlights .box-img {
    position: relative;
    height: auto !important;
    width: 100%;
    padding-top: 75%;
    overflow: hidden;
    box-shadow: 2px 1px 3px 0 #c3c3c3; }
    body section.highlights .box-img img {
      object-fit: cover;
      margin: auto;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  body section.product-uses {
    background: url("../images/bgr/bgr-ong.png");
    background-size: cover;
    background-repeat: no-repeat; }
    body section.product-uses .list-product-uses li {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 2px dotted #562b73; }
      body section.product-uses .list-product-uses li h5 {
        font-weight: bold;
        margin-bottom: 15px; }
    @media (max-width: 991px) {
      body section.product-uses .order-1-mb {
        order: 1; }
      body section.product-uses .order-2-mb {
        order: 2; } }
  body section.order-id {
    background-image: url("../images/bgr/");
    background-repeat: no-repeat;
    background-size: cover; }
    body section.order-id .box-border-order {
      padding: 30px;
      border: 2px dotted #562b73;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 25px; }
      body section.order-id .box-border-order .box-content-order {
        width: calc(50% - 15px); }
        body section.order-id .box-border-order .box-content-order .note {
          color: #fec70a; }
        body section.order-id .box-border-order .box-content-order h2 {
          font-weight: bold;
          margin-bottom: 15px;
          color: #118436; }
        body section.order-id .box-border-order .box-content-order .desc {
          margin-bottom: 30px; }
      body section.order-id .box-border-order .box-img {
        width: calc(50% - 15px);
        box-shadow: 1px 1px 3px 0 #f3f3f3; }
    @media (max-width: 767px) {
      body section.order-id .box-border-order {
        display: block;
        width: 100%;
        float: left; }
        body section.order-id .box-border-order .box-content-order {
          width: 100%; }
        body section.order-id .box-border-order .box-img {
          width: 100%;
          margin-bottom: 15px; } }
  body section.step {
    background: url("../images/bgr/bgr-.png"); }
    body section.step .item-step {
      text-align: center;
      margin-bottom: 15px; }
      body section.step .item-step .img-step {
        margin: 0 20%;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #562b73;
        margin-bottom: 30px;
        padding: 10px; }
        body section.step .item-step .img-step .box-img {
          position: relative;
          height: auto !important;
          width: 100%;
          padding-top: 100%;
          overflow: hidden;
          border-radius: 50%; }
          body section.step .item-step .img-step .box-img img {
            object-fit: cover;
            margin: auto;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out; }
          @media (min-width: 768px) {
            body section.step .item-step .img-step .box-img:hover img {
              -webkit-transform: scale(1.1);
              transform: scale(1.1); } }
      body section.step .item-step h3 {
        margin-bottom: 30px; }
    @media (max-width: 767px) {
      body section.step .item-step {
        margin-bottom: 30px; }
        body section.step .item-step .img-step {
          margin-bottom: 15px; } }
  body section.problem {
    background-color: gray;
    position: relative;
    color: #fff; }
    body section.problem .box-img {
      margin-bottom: 30px; }
    body section.problem .box-problem li {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px dotted #fff; }
    body section.problem .heading {
      text-align: left; }
      body section.problem .heading h2:before {
        left: 0;
        transform: translateX(0); }
      body section.problem .heading p {
        padding: 0; }
    body section.problem:after {
      content: "";
      width: calc(50% - 15px);
      background-image: url("../images/bgr/bgr-skhoe.jpg");
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover; }
    @media (max-width: 767px) {
      body section.problem:after {
        content: none; } }
  body section.opinon .box-opinon {
    margin-bottom: 30px; }
  body section.opinon .heading {
    text-align: left; }
    body section.opinon .heading h2:before {
      left: 0;
      transform: translateX(0); }
    body section.opinon .heading p {
      padding: 0; }
  body section.opinon .box-content-opinon h3 {
    margin-bottom: 15px; }
  body section.opinon .box-img {
    margin-bottom: 15px; }
  body section.list-img .box-img {
    margin-bottom: 30px;
    position: relative;
    height: auto !important;
    width: 100%;
    padding-top: 75%;
    overflow: hidden; }
    body section.list-img .box-img img {
      object-fit: cover;
      margin: auto;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
    @media (min-width: 768px) {
      body section.list-img .box-img:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }
  body section.attribute-prod {
    background: url("../images/bgr/bgrz.png"); }
    body section.attribute-prod .item-attribute-prod {
      text-align: center;
      margin-bottom: 50px; }
      body section.attribute-prod .item-attribute-prod .icon {
        height: 60px;
        width: 60px;
        margin: 0 auto;
        margin-bottom: 30px; }
      body section.attribute-prod .item-attribute-prod p {
        min-height: 47px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
  body section.feedback .owl-item {
    padding: 5px; }
  body section.feedback .list-feedback {
    padding: 10px; }
    body section.feedback .list-feedback .item {
      padding: 10px;
      box-shadow: 2px 1px 3px 0 #c3c3c3;
      background: #f5f5f5; }
      @media (max-width: 767px) {
        body section.feedback .list-feedback .item {
          box-shadow: 0px 0px 3px 0 #c3c3c3; } }
      body section.feedback .list-feedback .item .box-fb-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px; }
        body section.feedback .list-feedback .item .box-fb-top .box-img {
          position: relative;
          height: auto !important;
          width: 100%;
          padding-top: 100px;
          overflow: hidden;
          width: 100px; }
          body section.feedback .list-feedback .item .box-fb-top .box-img img {
            object-fit: cover;
            margin: auto;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0; }
          body section.feedback .list-feedback .item .box-fb-top .box-img img {
            width: 90px;
            height: 90px;
            border-radius: 50%; }
        body section.feedback .list-feedback .item .box-fb-top > p {
          width: calc(100% - 100px); }
      body section.feedback .list-feedback .item .info h4 {
        margin-bottom: 5px; }
      body section.feedback .list-feedback .item .info p {
        color: gray; }
    body section.feedback .list-feedback:hover .owl-next, body section.feedback .list-feedback:hover .owl-prev {
      opacity: .8; }

#footer {
  background: url("../images/bgr/bgr1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  float: left;
  padding: 100px 0;
  color: #fff;
  position: relative; }
  #footer:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(1, 7, 28, 0.77);
    position: absolute; }
  #footer .container {
    position: relative; }
  #footer .box-address ul li {
    margin-bottom: 30px; }
    #footer .box-address ul li h3 {
      margin-bottom: 10px; }
      #footer .box-address ul li h3 i {
        color: #118436;
        font-size: 25px;
        width: 30px; }
      #footer .box-address ul li h3 span {
        font-size: 24px; }
  #footer .box-address ul .link-mxh {
    margin-top: 15px; }
    #footer .box-address ul .link-mxh span {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      line-height: 50px;
      display: inline-block;
      border: 2px solid #562b73;
      text-align: center;
      margin-right: 15px;
      background: #fff;
      cursor: pointer;
      margin-bottom: 15px; }
      #footer .box-address ul .link-mxh span i {
        font-size: 20px; }
      #footer .box-address ul .link-mxh span .fa-facebook {
        color: #4267b2; }
      #footer .box-address ul .link-mxh span .fa-twitter {
        color: #1da1f2; }
      #footer .box-address ul .link-mxh span .fa-instagram {
        color: #e95950; }
      #footer .box-address ul .link-mxh span .fa-google {
        color: #EA4335; }
    @media (min-width: 768px) and (max-width: 991px) {
      #footer .box-address ul .link-mxh span {
        height: 45px;
        width: 45px;
        margin-right: 3px; } }
  #footer .box-from {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #footer .box-from input, #footer .box-from textarea {
      width: 100%;
      margin-bottom: 15px;
      border-radius: 5px;
      border: none;
      padding: 10px; }
    #footer .box-from .name-inp, #footer .box-from .mail-inp {
      width: calc(50% - 15px); }
      @media (max-width: 767px) {
        #footer .box-from .name-inp, #footer .box-from .mail-inp {
          width: 100%; } }
    #footer .box-from input {
      height: 40px; }
  #footer .box-btn button {
    width: 100%;
    border-radius: 5px; }
  @media (max-width: 767px) {
    #footer {
      padding: 60px 0; }
      #footer .order-1-mb {
        margin-bottom: 30px; }
      #footer .box-address ul li {
        margin-bottom: 15px; }
        #footer .box-address ul li h3 {
          margin-bottom: 0px; }
          #footer .box-address ul li h3 i {
            color: #118436;
            font-size: 20px;
            width: 30px; }
          #footer .box-address ul li h3 span {
            font-size: 20px; }
      #footer .box-address ul .link-mxh {
        margin-top: 15px;
        margin-bottom: 0; }
        #footer .box-address ul .link-mxh span {
          height: 45px;
          width: 45px;
          border-radius: 50%;
          line-height: 45px; } }
